@media screen and (min-width: 280px) and (max-width: 392px) {
  .label-input {
    font-size: 16px !important;
  }
  
  .text-field {
    width: 100% !important;
    border: 0.5px solid #ccc !important; 
    padding: 17px !important;
    height: 35px !important;
    border-radius: 10px !important;
    font-size: 14px !important;
  }
  
  .errorMessage {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 393px) and (max-width: 540px) {
  .label-input {
    font-size: 20px !important;
  }
  
  .text-field {
    width: 100% !important;
    border: 0.5px solid #ccc !important; 
    padding: 17px !important;
    height: 48px !important;
    border-radius: 10px !important;
    font-size: 17px !important;
  }
  
  .errorMessage {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .label-input {
    font-size: 20px !important;
  }
  
  .text-field {
    width: 100% !important;
    border: 0.5px solid #ccc !important; 
    padding: 17px !important;
    height: 48px !important;
    border-radius: 10px !important;
    font-size: 17px !important;
  }
  
  .errorMessage {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 912px) {
  .label-input {
    font-size: 18px !important;
  }
  
  .text-field {
    width: 100% !important;
    border: 0.5px solid #ccc !important; 
    padding: 17px !important;
    height: 60px !important;
    border-radius: 10px !important;
    font-size: 16px !important;
  }
  
  .errorMessage {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 913px) and (max-width: 1280px) {
  .label-input {
    font-size: 15px !important;
  }
  
  .text-field {
    width: 100% !important;
    border: 0.5px solid #ccc !important; 
    padding: 17px !important;
    height: 43px !important;
    border-radius: 10px !important;
    font-size: 14px !important;
  }
  
  .errorMessage {
    font-size: 11px !important;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .label-input {
    font-size: 18px !important;
  }
  
  .text-field {
    width: 100% !important;
    border: 0.5px solid #ccc !important; 
    padding: 17px !important;
    height: 48px !important;
    border-radius: 10px !important;
    font-size: 16px !important;
  }
  
  .errorMessage {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .label-input {
    font-size: 20px !important;
  }
  
  .text-field {
    width: 100% !important;
    border: 0.5px solid #ccc !important; 
    padding: 17px !important;
    height: 50px !important;
    border-radius: 10px !important;
    font-size: 18px !important;
  }
  
  .errorMessage {
    font-size: 13px !important;
  }
}
