

.facility { 
  display: inline-flex !important;
  margin-inline-start: 5px !important 
}

.main-page {
  display: flex !important;
  height: 100vh !important;
  width: 100% !important;
  overflow: hidden !important;
}

.navbar-detail { 
  position: relative !important;
  z-index: 2 !important;
  right: 20px !important;
  margin-top: -12px;
  margin-bottom: -13px;
  margin-left: 6px;
}

.img-wrap {
  display: flex !important;
  justify-content: center;
  /* margin-left: 5px;
  margin-right: 5px; */
  margin-left: -14px;
  margin-right: -9px;
}

.img-place { 
  /* width: 90%;
  height: 160px  */
  width: 90%;
  height: 30ex;
}

.name-place {
  font-size: 16px;
  margin-left: 15px;
  font-family: "Poppins", sans-serif !important;
  margin-right: 10px;
  color: #001C54;
  font-weight: 600 !important;
}

.info-data {
  font-size: 13px;
  margin-left: 15px;
  font-family: "Poppins", sans-serif !important;
  margin-right: 10px;
  color: #001C54;
}

.icon-data { 
  color: #001C54;
  font-size: 13px;
  top: 0px !important;
  margin-left: 15px !important;
  /* margin-right: 30px  */
}

.button-rute { 
  background: #001C54 !important; 
  border: #001C54 !important;
  border-radius: 50%;
  font-size: 15px;
}

.button-modal { 
  background: #001C54 !important; 
  border: #001C54 !important 
}



.tittle {
  margin-right: 30px;
}
.bg-input {
  margin-left: 10px;
  background-color: rgb(238, 230, 230);
}
.icons {
  margin-top: 10;
  color: "#444";
  padding-left: 1;
  padding-right: 2;
}
.information {
  font-size: 13px !important;
  font-weight: bold;
  margin-left: 30px;
}
.contain {
  overflow: "hidden";
}
.name-detail {
  font-size: 20px;
  font-weight: 800;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

.body {
  font-size: 14px !important;
}
.loc-detail,
.address-detail {
  /* font-size: 14px !important; */
  margin-right: 40px;
}

.img-certificate {
  height: 60px !important;
  width: "auto" !important;
}



.left {
  width: 25%;
  background: #ffffff !important;
  overflow: hidden !important;
}

.right {
  width: 75% !important;
  overflow: hidden !important;
  height: 100vh;
  bottom: 0 !important;
  z-index: inherit !important;
  position: relative !important;
}

.maps-nav {
  display: none !important;
}

.info-detail,
.info-detail-web {
  margin-top: -10px !important;
  /* font-size: 50px !important;
  font-family: 'Poppins'; */
  font-weight: 600 !important;
}

.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: inherit;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 350px) {
  .img-certificate {
    height: 80px !important;
    width: "auto" !important;
  }
  .detail:hover {
    bottom: 80vh !important;
  }
}

@media screen and (max-width: 375px) {
  .img-certificate {
    height: 90px !important;
    width: "auto" !important;
  }
  .detail:hover {
    bottom: 80vh !important;
  }
}

@media screen and (max-width: 425px) {
  .main-page {
    display: inherit !important;
  }

  .left {
    width: 100%;
    display: none !important;
  }

  .right {
    width: 100% !important;
  }

  .detail {
    display: inherit !important;
    background-color: #fff;
    width: 100% !important;
    height: 84vh !important;
    z-index: 2 !important;
    position: relative !important;
    bottom: 250px !important;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }

  .detail:hover {
    bottom: 84vh !important;
  }

  .maps-nav {
    display: inherit !important;
    position: relative;
    z-index: 4;
    margin-top: 70px;
  }

  .maps {
    position: relative;
    z-index: 1;
    margin-top: -150px;
  }

  .img-certificate {
    height: 100px !important;
    width: 150px !important;
  }
}

@media screen and (min-width: 768px) {
  .detail {
    display: none !important;
  }

  .navbar-map {
    display: none !important;
  }
  .navbar-list {
    display: inherit !important;
  }

  .info-detail {
    font-size: 12px !important;
  }

  .info-detail-web {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 1024px) {
  .detail {
    display: none !important;
  }

  .navbar-map {
    display: none !important;
  }
  .navbar-list {
    display: inherit !important;
  }
}

@media screen and (min-width: 1440px) {
  .detail {
    display: none;
  }

  .navbar-map {
    display: none !important;
  }
  .navbar-list {
    display: inherit !important;
  }
}

@media screen and (min-width: 2560px) {
  .detail {
    display: none;
  }

  .navbar-map {
    display: none !important;
  }
  .navbar-list {
    display: inherit !important;
  }
}

.sidebardiv {
  background-color: transparent !important;
  height: 40px;
  line-height: 0;
  /* top:-5; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
}

.logo-label-map {
  color: #001c54;
  margin-top: -20;
  margin-bottom: 30;
  font-weight: bold;
}

.list-icon li {
  margin-left: -40;
  margin-top: 30;
}

.icon-navbar {
  font-size: 25px !important;
  color: #001c54;
  margin-bottom: 40;
  text-align: center;
}

.icon-name {
  font-weight: bold;
}

.div-menu {
  background-color:white;
  width: 25%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  /* transition: 850ms; */
  box-shadow: 0px 10px 0px 0px #000;
  z-index: 2 !important;
}

.text-blue {
  color: #005ab5!important;
}

.btn_option_direc_active {
  background: rgb(177 201 255 / 45%) !important;
  border: 1px solid rgb(177 201 255 / 45%) !important;
}

.btn_option_direc_non_active {
  background: none !important;
  border: none !important;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.div-menu.active {
  left: 0;
  animation: fadeInAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.div-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.div-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.div-text a:hover {
  background-color: #1a83ff;
}

.div-menu-items {
  width: 100%;
  list-style-type: none;
}

.navbar-toggle {
  background-color: transparent;
  width: 130px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  margin-left: 40px;
}

span {
  margin-left: 16px;
}

.icon-lokasi-awal { 
  color: white;
  /* top: 46px !important; */
  margin-left: -5px !important;
  margin-top: 10px;
  font-size: 17px;
}

.icon-tujuan { 
  color: white;
  /* top: 46px !important; */
  margin-left: -5px !important;
  margin-top: 10px;
}

.icon-my-location { 
  color: #007eff;
  top: 46px !important;
  margin-left: 10px !important;
  margin-top: 2px;
  line-height: 50px;
}

div.my_location:hover{
  background-color: rgb(240, 240, 240);
  line-height: 50px;
  margin-left: -7px;
  width: 100%;
  cursor: pointer;
}
